<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace To-DO</title>
</head>
<body>
<h1><%= skill.text %></h1>
<p>Learned: <%= skill.learned ? 'Yes' : 'No' %></p>
</body>
</html>